.tst-bg {
  background-color: #000000;
}

.tst-bg:before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.3;
  background-image: url(/abstract-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tst-card {
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(16px); */
}

 *[data-theme='dark'] .tst-card {
  background: linear-gradient(
    110.28deg,
    rgba(26, 26, 26, 0.3) 0.2%,
    rgba(0, 0, 0, 0.6) 101.11%
  );
  box-shadow: inset 1px 1px 1px 0px grey, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

*[data-theme='light'] .tst-card {
  background: linear-gradient(
    110.28deg,
    rgba(230, 230, 230, 0.3) 0.2%,
    rgba(255, 255, 255, 0.6) 101.11%
  );
  box-shadow: inset 1px 1px 1px 0px white, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
