:root {
  --sm-break: 640px;
  --md-break: 768px;
  --lg-break: 1024px;
  --xl-break: 1280px;
  --2xl-break: 1536px;
  --nav-height: 4rem;
  --card-border-radius: 1rem;
  --glass-blur: blur(30px);
  --transition-general: all 0.1s ease-in;
  --primary-color: 86, 23, 222;

  /* BTN SOLID */
  --btn-solid-outline: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.0);
  --btn-solid-outline-hover: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  --btn-inner-highlight: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.05);
  --btn-inner-highlight-hover: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.1);
  --btn-edge-highlight:
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.0),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.0);
  --btn-edge-highlight-hover: 
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.0),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.0);
  --btn-outer-shadow: 
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --btn-outer-shadow-hover: 
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --btn-outer-glow: 0 5px 15px 0px rgba(var(--primary-color), 0.0);
  --btn-outer-glow-hover: 0 5px 15px 0px rgba(var(--primary-color), 0.4);

  /* BTN OUTLINE */
  --btn-outline-outline: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  --btn-outline-outline-hover: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  --btn-outline-inner-highlight: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.2);
  --btn-outline-inner-highlight-hover: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.2);
  --btn-outline-edge-highlight: 
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.0),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.0);
  --btn-outline-edge-highlight-hover:
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.3),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.3);
  --btn-outline-outer-shadow: 
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --btn-outline-outer-shadow-hover: 
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --btn-outline-outer-glow: 0 5px 15px 0px rgba(var(--primary-color), 0.0);
  --btn-outline-outer-glow-hover: 0 5px 15px 3px rgba(var(--primary-color), 0.4);
}

*[data-theme='dark'] {
  --glass-bg: linear-gradient(
    110.28deg,
    rgba(255, 255, 255, 0.2) 0.2%,
    rgba(255, 255, 255, 0.0) 101.11%
  );
  --glass-inset: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.3), 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --bg-image: url(/src/assets/bg-dark.webp);
  --glass-accent: 0, 0, 0;
  --input-bg: rgba(var(--glass-accent), 0.6);
  --input-bg-disabled: rgba(var(--glass-accent), 0.3);
  --table-alt: rgba(var(--glass-accent), 0.2);
  --glass-lines: rgba(var(--glass-accent), 0.2);
  --alt-btn-txt-color: #ffffff;

  --btn-solid-outline-hover: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  --btn-inner-highlight: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.0);
  --btn-inner-highlight-hover: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.05);

  --btn-outline-inner-highlight: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.05);
  --btn-outline-inner-highlight-hover: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.1);
}

*[data-theme='light'] {
  --glass-bg: linear-gradient(
    110.28deg,
    rgba(255, 255, 255, 0.4) 0.2%,
    rgba(255, 255, 255, 0.2) 101.11%
  );
  --glass-inset: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.9), 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --bg-image: url(/src/assets/bg-light.webp);
  --glass-accent: 255, 255, 255;
  --input-bg: rgba(var(--glass-accent), 0.6);
  --input-bg-disabled: rgba(var(--glass-accent), 0.3);
  --table-alt: rgba(var(--glass-accent), 0.4);
  --glass-lines: rgba(var(--glass-accent), 0.4);
  --alt-btn-txt-color: #000000;

  --btn-edge-highlight-hover: 
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  --btn-outer-shadow: 
    0 4px 6px -1px rgb(0 0 0 / 0.3),
    0 2px 4px -2px rgb(0 0 0 / 0.3);
  --btn-outer-shadow-hover: 
    0 4px 6px -1px rgb(0 0 0 / 0.3),
    0 2px 4px -2px rgb(0 0 0 / 0.3);
}

.glass-alt-bg {
  background: var(--table-alt);
}

/* BACKGROUND */

.tst-bg {
  height: 100lvh;
  display: block;
  overflow: auto;
}

.tst-bg:before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  /* opacity: 0.3; */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* LAYOUT */

.tst-con {
  max-width: 1440px;
  margin: auto;
}

.tst-inner {
 padding: 1rem;
 margin: auto;
}

@media (min-width: 1610px) {
  .tst-inner {
    padding: 1rem 0px;
  }
}

/* TOPNAV */

.tst-topnav,
.tst-topnav > .navbar-start,
.tst-topnav > .navbar-end {
  position: relative;
}

.tst-topnav::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  backdrop-filter: var(--glass-blur);
  background: var(--glass-bg);
  box-shadow: var(--glass-inset);
}

@media (min-width: 1440px) {
  .tst-topnav,
  .tst-topnav:before {
    border-radius: 0px 0px var(--card-border-radius) var(--card-border-radius);
  }
}

/* SIDENAV */

.tst-sidenav {
  position: relative;
  height: 100%;
}

.tst-sidenav > div {
  position: relative;
}

.tst-sidenav::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  backdrop-filter: var(--glass-blur);
  background: var(--glass-bg);
  box-shadow: var(--glass-inset);
}

.tst-sidebody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.drawer[aria-expanded='true'] > .drawer-side > .drawer-overlay {
  transition: var(--transition-general);
  backdrop-filter: var(--glass-blur);
}

@media (min-width: 768px) {
  .tst-sidenav {
    height: unset;
    /* margin-top: calc(var(--nav-height) * -1); */
    position: fixed;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    width: 4rem;
    margin-top: 1rem;
  }

  .tst-sidenav,
  .tst-sidenav:before {
    border-radius: 0px var(--card-border-radius) var(--card-border-radius) 0px;
  }
  
  .tst-sidenav .navbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
  }
  
  .drawer-content {
    margin-left: 4rem;
  }
}

@media (min-width: 1440px) {
  .tst-sidenav,
  .tst-sidenav:before {
    border-radius: var(--card-border-radius);
  }
}

@media (min-width: 1610px) {
  .tst-sidenav {
    margin-left: -5rem;
  }
  .drawer-content {
    margin-left: 0rem;
  }
}

/* CARDS */

.tst-card > .card-body {
  position: relative;
}

.tst-card::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  backdrop-filter: var(--glass-blur);
  border-radius: var(--card-border-radius);
  background: var(--glass-bg);
  box-shadow: var(--glass-inset);
}

/* INPUTS */

input.input {
  background-color: var(--input-bg);
}
input.input:disabled {
  background-color: var(--input-bg-disabled);
  border: 0px;
}

/* TABLE */

.tst-con .table tr.active,
.tst-con .table tr.active:nth-child(even),
.tst-con .table-zebra tbody tr:nth-child(even),
.tst-con .table tr.hover:hover,
.tst-con .table tr.hover:nth-child(even):hover {
  background-color: var(--table-alt);
  transition: var(--transition-general);
}

.tst-con .table :where(thead, tbody) :where(tr:not(:last-child)),
.tst-con .table :where(thead, tbody) :where(tr:first-child:last-child) {
  border-bottom-color: var(--glass-lines);
}

/* CHART TOOLTIP */

.chart-tooltip {
  font-size: 14px;
  text-align: center;
  position: relative;
  display: block;
  min-width: 150px;
  max-width: 200px;
  animation: fade-in 300ms ease;
  background: #272727;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  z-index: 1;
}

.chart-tooltip::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: .1875rem 0;
  width: 0;
  height: 0;
  display: block;
  transform: translate(-50%);
  border-color: #2a323c transparent transparent transparent;
  top: auto;
  left: 50%;
  right: auto;
  bottom: calc(100% + .0625rem - .1875rem);
}

/* BUTTONS */

/* BTN SOLID */

.btn:not(:disabled):active,
button.btn:not(:disabled):active {
  transform: none!important;
  filter: brightness(0.8)!important;
}

.btn.btn-primary:not(:disabled),
button.btn.btn-primary:not(:disabled),
.btn.btn-success:not(:disabled),
button.btn.btn-success:not(:disabled) {
  background: rgba(var(--primary-color), 1);
  box-shadow: var(--btn-solid-outline),
  var(--btn-inner-highlight),
  var(--btn-edge-highlight),
  var(--btn-outer-shadow),
  var(--btn-outer-glow);
  border: 0px;
  transition: var(--transition-general);
}

.btn.btn-primary:hover,
button.btn.btn-primary:hover {
  background: rgba(var(--primary-color), 1);
  box-shadow: var(--btn-solid-outline-hover),
  var(--btn-inner-highlight-hover),
  var(--btn-edge-highlight-hover),
  var(--btn-outer-shadow-hover),
  var(--btn-outer-glow-hover);
  border: 0px;
}

.btn.btn-primary:disabled,
button.btn.btn-primary:disabled {
  border: 0px;
}

/* BTN STATE */

.btn.btn-success:not(:disabled),
button.btn.btn-success:not(:disabled) {
  background: theme('backgroundColor.success');
  box-shadow: var(--btn-solid-outline),
  var(--btn-inner-highlight),
  var(--btn-edge-highlight),
  var(--btn-outer-shadow);
}
.btn.btn-error:not(:disabled),
button.btn.btn-error:not(:disabled) {
  background: theme('backgroundColor.error');
  box-shadow: var(--btn-solid-outline),
  var(--btn-inner-highlight),
  var(--btn-edge-highlight),
  var(--btn-outer-shadow);
}
.btn.btn-success:hover,
button.btn.btn-success:hover,
.btn.btn-error:hover,
button.btn.btn-error:hover {
  box-shadow: var(--btn-solid-outline-hover),
  var(--btn-inner-highlight-hover),
  var(--btn-edge-highlight-hover),
  var(--btn-outer-shadow-hover);
}

/* BTN OUTLINE */

.btn.btn-outline:not(:disabled),
button.btn.btn-outline:not(:disabled) {
  background: rgba(255,255,255, 0.0);
  box-shadow: var(--btn-outline-outline),
  var(--btn-outline-inner-highlight),
  var(--btn-outline-edge-highlight),
  var(--btn-outline-outer-shadow),
  var(--btn-outline-outer-glow);
  border: 0px;
  transition: var(--transition-general);
}

.btn.btn-outline:hover,
button.btn.btn-outline:hover {
  color: var(--alt-btn-txt-color);
  background: rgba(255,255,255, 0.1);
  box-shadow: var(--btn-outline-outline-hover),
  var(--btn-outline-inner-highlight-hover),
  var(--btn-outline-edge-highlight-hover),
  var(--btn-outline-outer-shadow-hover),
  var(--btn-outline-outer-glow-hover);
  border: 0px;
}

.btn.btn-outline:disabled,
button.btn.btn-outline:disabled {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 0px;
}

/* PIE CHART */

.tst-pie {
  position: relative;
}

.tst-pie:not(.empty) svg.apexcharts-svg g.apexcharts-series.apexcharts-pie-series path {
  fill-opacity: 0.1;
}
.tst-pie:not(.empty) svg.apexcharts-svg g.apexcharts-series.apexcharts-pie-series path[selected="true"] {
  fill-opacity: 0.5;
  position: relative;
}

.tst-pie-overlay {
  position: absolute;
  top: 4px;
  right: 4px;
  left: 4px;
  bottom: 2px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  border-radius: 500000000px;
  box-shadow: inset 0px 0px 20px 1px rgba(255, 255, 255, 0.2);
  -webkit-mask: radial-gradient(67px, #0000 98%, #000);
  mask: radial-gradient(67px, #0000 98%, #000);
}